html{
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    background-image: url(../images/Soldiers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;

}

p{
    display: inline-block;
    padding: 0;
    margin: 0;
}

.company_logoname{
    display: inline;
    padding: 0;
    margin: 0;
}

.header_company_logo{
    display: block;
    aspect-ratio: 1/1;
    height: 50px;
    box-sizing: border-box;
    border-radius: 100%;
    overflow: hidden;
    background-color: white;
    background-image: url(../images/favicon_shooter.svg);
    background-size: 76%;
    background-position: center;
    background-repeat: no-repeat;
    background-clip: padding-box;
    background-origin: padding-box;
    border: hidden 10px;
}

.company_name{

}
